body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
header{
    width: 100vw;
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
}
section img{

    height: 10vh;
    width: 100%;
    background-color: orangered;

}
section{
    height: 10vh;
    border: none;
}

.menu1{
    width: 100vw;
    background-color: #045cac;
    display: grid;
    grid-template-columns: 8% 21% 26% 15% 20% 1%;

}

.menu1 button{
    background-color: #045cac;
    border-color: transparent;
    border-radius: 10%;
}

.menu1 button:hover{
    background-color: #378fe2;
    

}

#botao1{
    margin-left: 2vw;
}

.menu1 .pesquisa{
    margin-top: 3vh;
    width: 25vw;

}

.menu1 input{
    height: 3vh;
    width: 18vw;
    border-color:black ;
}


.senai{
    background-image: url(./../assets/senai-logo-0.png);
    height: 10vh;
    width: 20vw;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.itens{
    margin-top: 4vh;
    
}

.itens button{
    cursor: pointer;
}

.meio{
    margin-left: 1vw;
}


@media screen and (min-width: 320px) and (max-width: 767px){
    .menu2{
        display: none;
    }

    .menuMobile{
        display: none;
        flex-direction: column;
        padding-bottom: 1rem ;
        background-color: rgb(23, 23, 24);
        
    }
    
    .menuMobile .itemMenu{
        display: block;
        padding-top: 1.2rem;
        margin-left: 1rem;
        
    }

    .itemMenu a{
        color: aliceblue;
        text-decoration: none;
    }

    .open{
        display: block;
    }

    .menu3{
        display: none;
    }


    
       
}
@media screen and (min-width: 768px){
    .menu2{
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
        background-color: rgb(23, 23, 24);
    }

    .menu2 a{
        color: aliceblue;
        text-decoration: none;
    }

    .menuMobile{
        display: none;
    }
    
    .menu3{
        margin-top: 3vh;
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
        background-color: rgb(23, 23, 24);

    }

    .menu3 a{
        color: aliceblue;
        text-decoration: none;
    }


       
}